*{

}

body{
    margin: 0;
}

header{

}

nav{
    background-color: rgba(0, 0, 0, 0.2);
    text-align: right;
     padding: 1.5vh 0vw; 
    width: 100%;
    overflow: none;
}

/* shopping cart */
i{
    font-size: 1.2em;
    cursor: pointer;
    opacity: 0.8;
    color: white;
    margin: 0 1.5vw;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

i:hover{
    opacity: 1;
}

nav a{
    font-size: 0.8em;
    cursor: pointer;
    opacity: 0.8;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 1.5vw;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#btnlogout{
    font-size: 0.8em;
    cursor: pointer;
    opacity: 0.8;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 1.5vw;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

a:hover{
    opacity: 1;
}

nav button{
    all: unset;
    font-size: 1.1em;
    cursor: pointer;
    opacity: 0.8;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 1.5vw;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

nav button:hover{
    opacity: 1;
}

form{
    all: unset;
}

#shopping{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1vh 0.5vw;
    margin-left: 59vw;
    color: white;
    font-family: sans-serif;
    margin-top: 1vh;
    margin-right: 1vw;
    border-radius: 5px;
}

#shopping h1{
    font-family: sans-serif;
    text-shadow: 1px 1px 1px black;
}

.shopImgs{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 30%;
    border-radius: 10px;
}

#formFolder{
    display: block;
    width: 100%;
    margin: 0 auto;
}

.shopRemove{
    all: unset;
    padding: 1vh 1vw;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    margin: 1vh 0;

}
.shopPrice{
    background-color: blue;
}

.shopTotal{
    display: block;
    padding: 1vh 0.3vw;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 0.5vh 0.5vw;
    margin-top: 3vh;
    border-radius: 5px;
}

.checkoutLink{
    all: unset;
    display: block;
    width: 25%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 1vh 0.3vw;
    margin: 0.5vh 0.5vw;
    border-radius: 5px;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.77,.56,.09,.9);
    cursor: pointer;
}

.checkoutLink:hover{
    background-color: rgba(0, 0, 0, 0.35);
}

.shopNames{
    font-family: sans-serif;
    margin-left: 1vw;
    border: solid white 2px;
    border-radius: 5px;
    padding: 0.5vh 0.5vw;
    margin: 1vh 0;
}

.shopDesc{
    font-family: sans-serif;
    margin-left: 1vw;
    border: solid white 2px;
    border-radius: 5px;
    padding: 0.5vh 0.5vw;
    margin: 1vh 0;
}

nav a img{
    position: absolute;
    height: 10%;
    right: 0;
    top: 0;
    left: 0;
    text-align: center;
    margin-top: -2.5vh;
}

.hidden{
    display: none;
}
