*{
    margin: 0;
    padding: 0;
    font-family: "sans-serif"
}

header{
    background-color: #444444;
    height: 2em;
    font-size: 2em; 
}
a{
    color: #ffffff;
    text-decoration: none;
    
}
a:visited{
    color: #ffffff;
}
main{

}

footer{

}
