*{
    margin: 0;
    padding: 0;
    font-family: "sans-serif"
}
body{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
}
footer{
     margin-top: 2em; 
}

.product{
    width: 90vmin;
    margin: 0 auto;
    margin-top: 5vh;
    border-radius: 10px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: #222222 5px 5px 15px;
    padding: 4px;
}

.img-container{
    float: left;
    width: 25%;
    margin-right: 2.5%;
    text-align: center;
}

.product-img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.product-container{
    float: left;
    width: 70%;
}

.product-name{
    font-family: sans-serif;
    font-size: 3vmin;
    color: black;
    opacity: 0.4;
}

.product-description{
    font-family: sans-serif;
    font-size: 2vmin;
    margin-top: 1%;
    height: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1%;
}

#loginForm{
    background-color: red;
    padding: 5px;
}
